
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="form-group">
    <form action="~/Gastos/Create" method="post">
        <label>Gasto</label>
        <input class="form-control" type="text" name="Nome" placeholder="Nome do Novo Gasto" />
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
</div>