
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="~/Despesas/Create" method="post">
    <div class="form-group">
        <label>Local</label>
        <input class="form-control" type="text" name="Local" placeholder="Local da Despesa" />
    </div>
    <div class="form-group">
        <label>Data</label>
        <input class="form-control" type="date" name="Data" placeholder="Data da Despesa" />
    </div>
    <div class="form-group">
        <label>Valor</label>
        <input class="form-control" type="text" name="Valor" placeholder="Valor da Despesa" />
    </div>
    <div class="form-group">
        <label>Tipo</label>
        <select class="form-control" id="SelectedUserRoleId" name="gastos.IdTipo">
            @foreach (var item in @ViewBag.sGastos)
            {

                <option value="@item.IdTipo">@item.Nome</option>

            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Confirmar Gasto</button>
    </div>
</form>
